<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="Webservice to balance supply and demand of Covid19 protection gear. Webservice um Angebot und Nachfrage betreffend Covid19 Schutzkleidung und Schutzausrüstung zusammen zu bringen. Anbieten und Bestellen.">
    <link rel="canonical" href="https://need2have.org">
    <meta name="keywords" content="Covid19, Corona, Corona Virus, Virus, Covid19-Krise, Coronakrise, Corona-Krise, Schutzkleidung, FFP3, F9, N95, Atemschutzmasken, Schutzmasken, Masken, FFP3 Masken, OP Masken, Gesichtsfeldschutz, Schutzbrille, Schutzanzug, Schutzkittel, anbieten, Anbieter, Lager, Lagerstand, suchen, finden, Besteller, bestellen, kaufen, liefern, Lieferung, stock, protection gear, protection">
    <meta property="og:title" content="need2have.org - Covid19 decentralised demand & supply service">
    <meta property="og:type" content="">
    <meta property="og:url" content="https://need2have.org">
    <meta property="og:description" content="Webservice für Covid19 Schutzausrüstung">
    <meta property="og:image" content="">
    <meta property="og:site_name" content="need2have.org">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155976433-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-155976433-4');
    </script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
