<template>
  <div class="need">
    <b-form @submit="onSubmit" @reset="onReset" v-if="show">
       <b-button :pressed.sync="myToggle" variant="primary" @click="onSubmit">Toggle Me</b-button>
       
       <b-form-group
         id="input-group-1"
         label="Email Adresse:"
         label-for="input-1"
         description="E-Mail address"
       >
         <b-form-input
           id="input-1"
           v-model="form.email"
           type="email"
           required
           placeholder="Enter email"
         ></b-form-input>
       </b-form-group>
                  
       <b-form-group
         id="input-group-2"
         label="Name"
         label-for="input-2"
         description="Vor- und Nachname"
       >
         <b-form-input
           id="input-2"
           v-model="form.name"
           type="text"
           required
           placeholder="Vorname und Nachname angeben"
         ></b-form-input>
       </b-form-group>
       
       <b-form-group
         id="input-group-3"
         label="Adresse"
         label-for="input-3"
         description="Adresse mit Land"
       >
         <b-form-input
           id="input-3"
           v-model="form.address"
           type="text"
           required
           placeholder="Adresse inkl. Land"
         ></b-form-input>
       </b-form-group>

       <b-form-group
         id="input-group-4"
         label="Item"
         label-for="input-4"
         description="Die Sache oder Dienstleistung"
       >
         <b-form-input
           id="input-4"
           v-model="form.item"
           type="text"
           required
           placeholder="Was benötigen Sie?"
         ></b-form-input>
       </b-form-group>

       <b-form-group
         id="input-group-5"
         label="amount"
         label-for="input-5"
         description="Anzahl"
       >
         <b-form-input
           id="input-5"
           v-model="form.amount"
           type="number"
           required
           placeholder="Anzahl der benötigten Sachen od. Dienstleister"
         ></b-form-input>
       </b-form-group>
       
       <b-button type="submit" variant="primary">Submit</b-button>
       <b-button type="reset" variant="danger">Reset</b-button>
     </b-form>
     <b-card class="mt-3" header="Form Data Result">
       <pre class="m-0">{{ form }}</pre>
     </b-card>   
  </div>
</template>

<script>
export default {
  data () {
    return {
      myToggle: false,
      form: {
        email: '',
        name: '',
        address: '',
        item: '',
        amount: '',
      },
      show: true
    }
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault()
      this.$mqtt.publish('corona/need', JSON.stringify(this.form), {
        retain: false,
        properties: {
        }
      })
    },
    onReset(evt) {
      evt.preventDefault()
      // Reset our form values
      this.form.email = ''
      this.form.name = ''
      this.form.address = ''
      this.form.item = ''
      this.form.amount = null
      // Trick to reset/clear native browser form validation state
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    },
    publish1 () {
      this.$mqtt.publish('corona/test/publish1', 'message to Sub1')
    },
    publish2 () {
      this.$mqtt.publish('corona/test/publish2', 'message to Sub2')
    },
    geo () {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          function (position) {
            this.$mqtt.publish('corona/test/geo', {
              latitude: position.coords.latitude,
              longitude: position.coords.longitude
            })
          })
      } else {
        this.$mqtt.publish('corona/test/geo', "geo not available")
      }
    },
  },
  mqtt: {
    'corona/test/publish1' (data, topic) {
      console.log(topic + ': ' + String.fromCharCode.apply(null, data))
    },
    'corona/test/publish2' (data, topic) {
      console.log(topic + ': ' + String.fromCharCode.apply(null, data))
    }
  }
}




</script>