<template>
  <div class="publish">
    <button @click="publish1">Publish1 (Sub1 + Sub3)</button>
    <button @click="publish2">Publish2 (Sub2 + Sub3)</button>
    <button @click="geo">Geo</button>
    <div id="geo">
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    publish1 () {
      this.$mqtt.publish('corona/test/publish1', 'message to Sub1')
    },
    publish2 () {
      this.$mqtt.publish('corona/test/publish2', 'message to Sub2')
    },
    geo () {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          function (position) {
            this.$mqtt.publish('corona/test/geo', {
              latitude: position.coords.latitude,
              longitude: position.coords.longitude
            })
          })
      } else {
        this.$mqtt.publish('corona/test/geo', "geo not available")
      }
    },
  },
  mqtt: {
    'corona/test/publish1' (data, topic) {
      console.log(topic + ': ' + String.fromCharCode.apply(null, data))
    },
    'corona/test/publish2' (data, topic) {
      console.log(topic + ': ' + String.fromCharCode.apply(null, data))
    }
  }
}




</script>